ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    overflow: hidden;
    justify-content: center;
    display: flex;
  }

li {
    float: left;
    justify-content: center;
}

li a {
    display: block;
    color: #000;
    padding: 8px 70px;
    text-decoration: none;
  }

li a:hover {
    background-color: crimson;
    color: white;
  }

.active {
    background-color: #990033;
    color: white;
}

a {
    display: block;
    padding: 8px;
  }

body {
    margin: 0;
  }

#homeBody {
    background-image: url("media/Old Trafford.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#squadImage {
    position: relative;
    left: 10%;
}

#squadBody {
    background-color: tan;
}

#honoursImage {
    position: relative;
    width: fit-content;
    height: 50%;
}

table {
    font-family: Arial, Helvetica, sans-serif; 
    width: 100%;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    border: 1px solid black;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: burlywood;
}

#aboutusBody {
    background-image: url("media/aboutus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#aboutusText {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    font-size: large;
}

#homeText {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
    color: #990033;
}